In [1]:
import pandas as pd

In [17]:
df = pd.read_csv('train.csv')

df.head()

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name,Transported
0,0001_01,Europa,False,B/0/P,TRAPPIST-1e,39.0,False,0.0,0.0,0.0,0.0,0.0,Maham Ofracculy,False
1,0002_01,Earth,False,F/0/S,TRAPPIST-1e,24.0,False,109.0,9.0,25.0,549.0,44.0,Juanna Vines,True
2,0003_01,Europa,False,A/0/S,TRAPPIST-1e,58.0,True,43.0,3576.0,0.0,6715.0,49.0,Altark Susent,False
3,0003_02,Europa,False,A/0/S,TRAPPIST-1e,33.0,False,0.0,1283.0,371.0,3329.0,193.0,Solam Susent,False
4,0004_01,Earth,False,F/1/S,TRAPPIST-1e,16.0,False,303.0,70.0,151.0,565.0,2.0,Willy Santantines,True

# EDA (Exploratory Data Analysis)

In [4]:
print("The shape of the train dataset is: ", df.shape)

The shape of the train dataset is:  (8693, 14)

In [19]:
# TODO: Define what we will be doing with the missing values, for categorical an numerical data

df.isnull().sum().sort_values(ascending=False)

CryoSleep       217
ShoppingMall    208
VIP             203
HomePlanet      201
Name            200
Cabin           199
VRDeck          188
FoodCourt       183
Spa             183
Destination     182
RoomService     181
Age             179
PassengerId       0
Transported       0
dtype: int64

In [26]:
numerical_columns = df.select_dtypes(include=['int64', 'float64']).columns
categorical_columns = df.select_dtypes(include=['object','bool']).columns

print('Numerical Columns', numerical_columns)
print('Categorical Columns', categorical_columns)

# In previous examples we were treating the boolean values as categorical
# Kaggle suggest that boolean values should be transformed to numercial (1 or 0)

Numerical Columns Index(['Age', 'RoomService', 'FoodCourt', 'ShoppingMall', 'Spa', 'VRDeck'], dtype='object')
Categorical Columns Index(['PassengerId', 'HomePlanet', 'CryoSleep', 'Cabin', 'Destination', 'VIP',
       'Name', 'Transported'],
      dtype='object')

In [20]:
df['CryoSleep'].value_counts(normalize=True)

CryoSleep
False    0.641694
True     0.358306
Name: proportion, dtype: float64

In [12]:
8693-(5439+3037)

217

## Option 1 filling missing values with 0 for boolean data will add them to the 'False' statement

In [13]:
df['CryoSleep'] = df['CryoSleep'].fillna(value=0)

In [14]:
df.isnull().sum().sort_values(ascending=False)

ShoppingMall    208
VIP             203
HomePlanet      201
Name            200
Cabin           199
VRDeck          188
FoodCourt       183
Spa             183
Destination     182
RoomService     181
Age             179
PassengerId       0
CryoSleep         0
Transported       0
dtype: int64

In [16]:
# Results in 1% difference between the values
df['CryoSleep'].value_counts(normalize=True)

CryoSleep
False    0.650638
True     0.349362
Name: proportion, dtype: float64

In [29]:
df['HomePlanet'].value_counts()

HomePlanet
Earth     4602
Europa    2131
Mars      1759
Name: count, dtype: int64

## Option 2 drop Null values which leaves us with less records for the model

In [21]:
df_na = df.dropna()

In [23]:
print("The shape of the train dataset is: ", df_na.shape)
# There is a loss of nearly 2,000 records....

The shape of the train dataset is:  (6606, 14)

## Option 3 Fill missing values with the mean value or the mode for categorical

## Option 4 use ML to fill in missing values =O

In [ ]:
# Train a classification model to infer the missing values from the data

### After we decide the later we should export a new train csv and use it in Tableau to do the EDA similar to the medium article

### TODO: Crear nuevas features en base al EDA

### En paralelo se podria trabajar con el desarrollo del modelo aunque no se tengan las nuevas feature variables

## Podemos intentar correr el modelo directamente brincandonos todo y despues regresar e ir haciendo optimizaciones hasta donde nos alcance la vida