In [98]:
import pandas as pd

In [99]:
df_train = pd.read_csv('train.csv')
df_test = pd.read_csv('test.csv')

df_train.head()

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name,Transported
0,0001_01,Europa,False,B/0/P,TRAPPIST-1e,39.0,False,0.0,0.0,0.0,0.0,0.0,Maham Ofracculy,False
1,0002_01,Earth,False,F/0/S,TRAPPIST-1e,24.0,False,109.0,9.0,25.0,549.0,44.0,Juanna Vines,True
2,0003_01,Europa,False,A/0/S,TRAPPIST-1e,58.0,True,43.0,3576.0,0.0,6715.0,49.0,Altark Susent,False
3,0003_02,Europa,False,A/0/S,TRAPPIST-1e,33.0,False,0.0,1283.0,371.0,3329.0,193.0,Solam Susent,False
4,0004_01,Earth,False,F/1/S,TRAPPIST-1e,16.0,False,303.0,70.0,151.0,565.0,2.0,Willy Santantines,True

# EDA (Exploratory Data Analysis)

In [100]:
print("The shape of the train dataset is: ", df_train.shape)

The shape of the train dataset is:  (8693, 14)

In [101]:
# TODO: Define what we will be doing with the missing values, for categorical an numerical data

df_train.isnull().sum().sort_values(ascending=False)

CryoSleep       217
ShoppingMall    208
VIP             203
HomePlanet      201
Name            200
Cabin           199
VRDeck          188
FoodCourt       183
Spa             183
Destination     182
RoomService     181
Age             179
PassengerId       0
Transported       0
dtype: int64

In [102]:
df_test.isnull().sum().sort_values(ascending=False)

FoodCourt       106
Spa             101
Cabin           100
ShoppingMall     98
Name             94
CryoSleep        93
VIP              93
Destination      92
Age              91
HomePlanet       87
RoomService      82
VRDeck           80
PassengerId       0
dtype: int64

In [103]:
numerical_columns = df_train.select_dtypes(include=['int64', 'float64']).columns
categorical_columns = df_train.select_dtypes(include=['object','bool']).columns

print('Numerical Columns', numerical_columns)
print('Categorical Columns', categorical_columns)

# In previous examples we were treating the boolean values as categorical
# Kaggle suggest that boolean values should be transformed to numercial (1 or 0)

Numerical Columns Index(['Age', 'RoomService', 'FoodCourt', 'ShoppingMall', 'Spa', 'VRDeck'], dtype='object')
Categorical Columns Index(['PassengerId', 'HomePlanet', 'CryoSleep', 'Cabin', 'Destination', 'VIP',
       'Name', 'Transported'],
      dtype='object')

In [104]:

df_train['Transported'].value_counts(normalize = True)

Transported
True     0.503624
False    0.496376
Name: proportion, dtype: float64

In [105]:
df_train['VIP'].value_counts(normalize=True)

VIP
False    0.976561
True     0.023439
Name: proportion, dtype: float64

In [106]:
df_train['CryoSleep'].value_counts(normalize=True)

CryoSleep
False    0.641694
True     0.358306
Name: proportion, dtype: float64

In [107]:
df_train['HomePlanet'].value_counts(normalize=True)

HomePlanet
Earth     0.541922
Europa    0.250942
Mars      0.207136
Name: proportion, dtype: float64

In [108]:
df_train['Destination'].value_counts(normalize=True)

Destination
TRAPPIST-1e      0.694983
55 Cancri e      0.211491
PSO J318.5-22    0.093526
Name: proportion, dtype: float64

In [109]:
df_train[["CabinDeck", "CabinNo.", "CabinSide"]] = df_train["Cabin"].str.split('/', expand = True)

In [110]:
df_train['CabinDeck'].value_counts(normalize=True)

CabinDeck
F    0.328938
G    0.301271
E    0.103132
B    0.091712
C    0.087944
D    0.056275
A    0.030139
T    0.000589
Name: proportion, dtype: float64

In [111]:
df_train['CabinSide'].value_counts(normalize=True)

CabinSide
S    0.504827
P    0.495173
Name: proportion, dtype: float64

# Bivarable analysis

In [112]:
homeplanet_transported = df_train.groupby('HomePlanet').aggregate({'Transported': 'sum',
                                                           'PassengerId': 'count'
                                                          }).reset_index()

homeplanet_transported['TransportedPercentage'] = homeplanet_transported['Transported'] / homeplanet_transported['PassengerId']

In [113]:
cryo_transported = df_train.groupby('CryoSleep').aggregate({'Transported': 'sum',
                                                           'PassengerId': 'count'
                                                          }).reset_index()

cryo_transported['TransportedPercentage'] = cryo_transported['Transported'] / cryo_transported['PassengerId']

In [114]:
destination_transported = df_train.groupby('Destination').aggregate({'Transported': 'sum',
                                                           'PassengerId': 'count'
                                                          }).reset_index()

destination_transported['TransportedPercentage'] = destination_transported['Transported'] / destination_transported['PassengerId']

In [115]:
vip_transported = df_train.groupby('VIP').aggregate({'Transported': 'sum',
                                                           'PassengerId': 'count'
                                                          }).reset_index()

vip_transported['TransportedPercentage'] = vip_transported['Transported'] / vip_transported['PassengerId']

In [116]:
cryo_transported.sort_values(by='TransportedPercentage', ascending=False)

   CryoSleep  Transported  PassengerId  TransportedPercentage
1       True         2483         3037               0.817583
0      False         1789         5439               0.328921

In [117]:
vip_transported.sort_values(by='TransportedPercentage', ascending=False)

     VIP  Transported  PassengerId  TransportedPercentage
0  False         4198         8291               0.506332
1   True           76          199               0.381910

In [118]:
homeplanet_transported.sort_values(by='TransportedPercentage', ascending=False)

  HomePlanet  Transported  PassengerId  TransportedPercentage
1     Europa         1404         2131               0.658846
2       Mars          920         1759               0.523024
0      Earth         1951         4602               0.423946

In [119]:
destination_transported.sort_values(by='TransportedPercentage', ascending=False)

     Destination  Transported  PassengerId  TransportedPercentage
0    55 Cancri e         1098         1800               0.610000
1  PSO J318.5-22          401          796               0.503769
2    TRAPPIST-1e         2787         5915               0.471175

# Null values treatment

#### Filling with mode and means

In [127]:
# Merge train and test  to infer null values

df_train2= df_train.drop(["CabinDeck", "CabinNo.", "CabinSide"], axis=1).copy().drop(['Transported'],axis=1)

df_train2.shape

(8693, 13)

In [129]:
data = pd.concat([df_train2, df_test], axis = 0).reset_index(drop = True)

data.shape

(12970, 13)

In [153]:
data.isnull().sum().sort_values(ascending=False)

CryoSleep       310
ShoppingMall    306
Cabin           299
VIP             296
Name            294
FoodCourt       289
HomePlanet      288
Spa             284
Destination     274
Age             270
VRDeck          268
RoomService     263
PassengerId       0
dtype: int64

In [183]:
data2 = data.copy()

missing_categorical_columns = data2.select_dtypes(include=['object','bool']).isna().sum() > 0
missing_categorical_columns = list(missing_categorical_columns[missing_categorical_columns].index)
missing_categorical_columns

['HomePlanet', 'CryoSleep', 'Cabin', 'Destination', 'VIP', 'Name']

In [184]:
for col in missing_categorical_columns:
    data2[col] = data2[col].fillna(data2[col].mode()[0])

In [185]:
data2.isnull().sum().sort_values(ascending=False)

ShoppingMall    306
FoodCourt       289
Spa             284
Age             270
VRDeck          268
RoomService     263
PassengerId       0
HomePlanet        0
CryoSleep         0
Cabin             0
Destination       0
VIP               0
Name              0
dtype: int64

## Option 1 filling missing values with 0 for boolean data will add them to the 'False' statement

In [13]:
df_train['CryoSleep'] = df_train['CryoSleep'].fillna(value=0)

In [14]:
df_train.isnull().sum().sort_values(ascending=False)

ShoppingMall    208
VIP             203
HomePlanet      201
Name            200
Cabin           199
VRDeck          188
FoodCourt       183
Spa             183
Destination     182
RoomService     181
Age             179
PassengerId       0
CryoSleep         0
Transported       0
dtype: int64

In [16]:
# Results in 1% difference between the values
df_train['CryoSleep'].value_counts(normalize=True)

CryoSleep
False    0.650638
True     0.349362
Name: proportion, dtype: float64

In [29]:
df_train['HomePlanet'].value_counts()

HomePlanet
Earth     4602
Europa    2131
Mars      1759
Name: count, dtype: int64

## Option 2 drop Null values which leaves us with less records for the model

In [21]:
df_train_na = df_train.dropna()

In [23]:
print("The shape of the train dataset is: ", df_train_na.shape)
# There is a loss of nearly 2,000 records....

The shape of the train dataset is:  (6606, 14)

## Option 3 Fill missing values with the mean value or the mode for categorical

## Option 4 use ML to fill in missing values =O

In [ ]:
# Train a classification model to infer the missing values from the data

### After we decide the later we should export a new train csv and use it in Tableau to do the EDA similar to the medium article

### TODO: Crear nuevas features en base al EDA

### En paralelo se podria trabajar con el desarrollo del modelo aunque no se tengan las nuevas feature variables

## Podemos intentar correr el modelo directamente brincandonos todo y despues regresar e ir haciendo optimizaciones hasta donde nos alcance la vida